{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Event Managment</title>
   <link rel="stylesheet" href="{% static "css/output.css" %}">
</head>
<body class="bg-gray-100">
  <!-- Navbar -->
  <nav class="bg-blue-600 text-white p-4 flex justify-between">
    <a href="" class="font-bold">Event Managment</a>
    <div class="space-x-4">

      <a href="{% url "event_list" %}">See all Events </a>
      <a href="{% url "participant_list" %}">See all Participant </a>

      <a href="{% url "dashboard" %}">Organizer Dashboard</a>
      <a href="{% url "admin" %}">Admin Dashboard  </a>
      <a href="{% url "out" %}">logout</a>
    </div>
  </nav>

  <div class="container mx-auto p-6">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
