{% extends 'Event_man/base.html' %}

{% block content %}

<h1 class="text-2xl font-bold mb-4">All Events</h1>


<div class="mb-4">
    {% for message in messages %}
        <p class="text-green-600">{{ message }}</p>
    {% endfor %}
</div>



<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for event in events %}
    <div class="p-4 bg-white rounded-2xl shadow">
        {% if event.photo %}
    <img src="{{ event.photo.url }}" alt="Event photo" class="w-64 h-40 object-cover rounded-xl mb-2">
{% else %}
    No photo Found
{% endif %}

        <h2 class="text-xl font-bold">{{ event.name }}</h2>
        <h3 class="text-md font-semibold">Description: {{ event.description }}</h3>
        <p class="text-gray-500">Category: {{ event.catagory.C_name }}</p>
        <p class="text-gray-500">Participants: {{ event.participants.count }}</p>
        <p class="text-gray-500">Date: {{ event.date }}</p>
        <p class="text-gray-500">Location: {{ event.location }}</p>
                   <div>
            <a href='{% url "Update_Event" event.id %}'
               class= " mt-5 inline-block px-4 py-2 bg-green-400 border-green-800  hover:bg-green-700 text-base font-semibold rounded-lg shadow-md">
               Edit event

            </a>
                
        </div>

        <div>
              <button>
                  <form action="{% url "DELETE_Event" event.id %}" method = "POST">
                    {% csrf_token %}
                        <button type="submit"
                    class=" mt-5 inline-block px-4 py-2 bg-red-500 border-red-600  hover:bg-red-700 text-base font-semibold rounded-lg shadow-md">
                    Delete event

           
                  </form>
              </button>


        </div>




</div>
{% empty %}
    <p class="text-gray-500">No events available.</p>
{% endfor %}


</div>
{% endblock %}
