{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event night</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
  </head>
  <body class="bg-gray-200">
    <div class="max-w-[1400px] mx-auto">
      <header>
        {% comment %} Nabar {% endcomment %}
        <div class="grid grid-cols-1">
          <div class="flex justify-around mx-auto max-w-[1000px] gap-5">
            <div>
              <img
                class="w-40 bg-slate-500"
                src="{% static 'images/P1.jpg' %}"
                alt=""
              />
            </div>
            <div
              class="gap-3 p-10 grid lg:grid-cols-4 sm:grid-cols-1 md:grid-cols-2"
            >
              <h1 class="text-red-900 font-semibold">HOME</h1>
              <h1 class="text-red-900 font-semibold">About Us</h1>
              <a href="{% url 'Boss' %}" target="blank">
              <h1 class="text-red-900 font-semibold">Manager DashBoard</h1>
              </a>
              <h1 class="text-red-900 font-semibold">Contract</h1>
            </div>
          </div>

          {% comment %} hero {% endcomment %}

          <div
            class="mx-auto max-w-[1400px] flex justify-between mt-5 p-10 bg-orange-200 gap-5"
          >
            <div>
              <h5>Find the Best Event</h5>
              <h2 class="font-bold">Event Search</h2>
            </div>
            <div>
              <input class="w-50 h-10 border-2 border-amber-950" type="text" />
              <button
                class="bg-gray-100 rounded-lg shadow-lg w-20 font-semibold"
              >
                click
              </button>
            </div>
          </div>
        </div>

        {% comment %} Event card {% endcomment %}

        {% for Tasks  in  Total %}
                  <div
          class="max-w-[1000px] shadow-md rounded-lg bg-gray-100 mx-auto grid lg:grid-cols-1 sm:grid-cols-2 justify-between mt-5"
        >
          <div>
            <img class="p-5 " src="{% static "images/i-2.jpeg" %}" alt="">
          </div>
          <div class="p-5">
            <h1> Event Title: {{Tasks.name}}</h1>
            <p>Description : {{Tasks.description}} </p>
            <div class="flex justify-around gap-5 mt-20">
              <h1>Total particiapt : {{participant_all}}</h1>
              <h1>Location : {{Tasks.location}}</h1>
              <button
                class="bg-fuchsia-400 p-2 font-bold text-lg text-lime-900 rounded-md"
              >
                Details
              </button>
            </div>
          </div>
        </div>
        {% endfor %}
      </header>
    </div>
  </body>
</html>
