<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans">


    <header class="bg-blue-600 text-white p-4 shadow">
        <h1 class="text-xl font-bold">Admin Dashboard</h1>
    </header>

    <div class="flex">


        <aside class="w-64 bg-white shadow h-screen p-4">
            <h2 class="font-semibold mb-4">Admin Menu</h2>
            <ul class="space-y-2">
                <li><a href="{% url "admin" %}" class="block p-2 rounded hover:bg-blue-100">Manage Users</a></li>
                <li><a href="{% url "create_group" %}" class="block p-2 rounded hover:bg-blue-100">Create Group</a></li>
                <li><a href="{% url "group_list" %}" class="block p-2 rounded hover:bg-blue-100">All Group & Permission</a></li>
                <li><a href="{% url 'create_event_form' %}" class="block p-2 rounded hover:bg-blue-100">Create Event</a></li>
                <li><a href="{% url 'create_catagory_form' %}" class="block p-2 rounded hover:bg-blue-100">Create Catagory</a></li>
                <li><a href="{% url 'event_list' %}" class="block p-2 rounded hover:bg-blue-100">Event List & Action</a></li>

            
                <li><a href="{% url "out" %}" class="block p-2 rounded hover:bg-blue-100">Log out</a></li>
            </ul>
        </aside>

        <!-- Main Content -->
        <main class="flex-1 p-6">
            <h2 class="text-2xl font-bold mb-6">User Management</h2>

      
             {% block content %}
                {% include "admin/Mail_table.html" %}
             {% endblock content %}

        </main>
    </div>

</body>
</html>
